* {
  font-family: 'Lato', sans-serif;
}
.menu {
  float: right;
}
#text_overlay h1 {
  font-size: 8vw;
}
#text_overlay h3 {
  font-weight: 300;
  font-size: 5vw;
}
#text_overlay {
  position: absolute;
  width: 100%;
  margin: 0;
  text-align: center;
  display: block;
  color: #ffffff;
  top: 50%;
}
#wedding_row {
  background-color: #fafafa;
  margin-bottom: 10px;
}
#rsvp_form {
  border: 2px black;
}
.map {
  margin-bottom: 15px;
  margin-top: -5%;
}
.navbar {
  margin-bottom: 0px;
}
.map {
  border-width: 1px;
  border-color: black;
  border-style: ridge;
}
section {
  min-height: 100vh;
}
#hero_section {
  background-image: url("/assets/sol_carlos.gif");
  background-size: cover;
  background-position: center center;
  z-index: -100;
  min-height: 100vh;
}
