* {
  font-family: 'Lato', sans-serif;
}
.container-fluid {
  margin-left: 3%;
  margin-right: 3%;
}
.menu {
  float: right;
}
#jumbotron {
  position: relative;
}
#hero {
  position: relative;
  max-height: 100%;
  max-width: 95%;
  margin-right: -50%;
  display: block;
  margin: 0 auto;
}
#text_overlay h1 {
  font-size: 8vw;
}
#text_overlay h3 {
  font-weight: 300;
}
#text_overlay {
  position: absolute;
  width: 100%;
  margin: 0;
  text-align: center;
  display: block;
  color: #ffffff;
  top: 50%;
}
#wedding {
  background-color: #ffffff;
}
#rsvp_form {
  border: 2px black;
}
